#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 150px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body {
    background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#result{
    width:360px;
    height: 150px;
    margin-bottom: 150px;
}